{% extends 'base.html' %}
{% block content %}
    <!-- <h1>Main page works!</h1> -->

    <div class="cointainer">

        <div class="row" style="padding: 50px;">

            <div class="col-sm-4">
                <img src="../../static/media/1.jpg" style="width: 400px; height:200px;border-radius:15px ">
                <h4 style="padding-left: 10px;">Use Payapl to Book</h6>
                <p style="color: gray;padding-left: 10px;">Coupon code:PSW145</p>
                <h6 style="padding-left: 10px;color: gray">Validity:</h6>
                <h6 style="padding-left: 10px;">Sept 30,2019</h6>
                <button style="border-radius: 3px;padding: 8px;margin: 5px; background-color:white;color:red;border-color:gray;border-style:solid;border-width: 2px   ">View Details</button>
                
            </div>

            <div class="col-sm-4">

                <img src="../../static/media/2.jpg" style="width: 400px; height:200px;border-radius:15px ">
                <h4 style="padding-left: 10px;">Free Fly</h6>
                <p style="color: gray;padding-left: 10px;">Coupon code:BH7U145</p>
                <h6 style="padding-left: 10px;color: gray">Validity:</h6>
                <h6 style="padding-left: 10px;">Sept 20,2019</h6>
                <button style="border-radius: 3px;padding: 8px;margin: 5px; background-color:white;color:red;border-color:gray;border-style:solid;border-width: 2px   ">View Details</button>

            </div>

            <div class="col-sm-4">
                <img src="../../static/media/3.jpg" style="width: 400px; height:200px;border-radius:15px ">
                <h4 style="padding-left: 10px;">Diwali Bonanza Sale!</h6>
                <p style="color: gray;padding-left: 10px;">Coupon code:Diwali100</p>
                <h6 style="padding-left: 10px;color: gray">Validity:</h6>
                <h6 style="padding-left: 10px;">Nov 30,2019</h6>
                <button style="border-radius: 3px;padding: 8px;margin: 5px; background-color:white;color:red;border-color:gray;border-style:solid;border-width: 2px   ">View Details</button>
            </div>

        </div>


    <div class="row" style="padding: 50px;">

            <div class="col-sm-4">
                <img src="../../static/media/4.jpg" style="width: 400px; height:200px;border-radius:15px ">
                <h4 style="padding-left: 10px;">Bank of Baroda</h6>
                <p style="color: gray;padding-left: 10px;">Coupon code:BB201</p>
                <h6 style="padding-left: 10px;color: gray">Validity:</h6>
                <h6 style="padding-left: 10px;">Sept 24,2019</h6>
                <button style="border-radius: 3px;padding: 8px;margin: 5px; background-color:white;color:red;border-color:gray;border-style:solid;border-width: 2px   ">View Details</button>
                
            </div>

            <div class="col-sm-4">

                <img src="../../static/media/5.jpg" style="width: 400px; height:200px;border-radius:15px ">
                <h4 style="padding-left: 10px;">Fly Home for Celebration</h6>
                <p style="color: gray;padding-left: 10px;">Coupon code:PSW145</p>
                <h6 style="padding-left: 10px;color: gray">Validity:</h6>
                <h6 style="padding-left: 10px;">Dec 30,2019</h6>
                <button style="border-radius: 3px;padding: 8px;margin: 5px; background-color:white;color:red;border-color:gray;border-style:solid;border-width: 2px   ">View Details</button>

            </div>

            <div class="col-sm-4">
                <img src="../../static/media/6.jpg" style="width: 400px; height:200px;border-radius:15px ">
                <h4 style="padding-left: 10px;">HDFC Bank Credit Card</h6>
                <p style="color: gray;padding-left: 10px;">Coupon code:HDFC145</p>
                <h6 style="padding-left: 10px;color: gray">Validity:</h6>
                <h6 style="padding-left: 10px;">Jan 30,2020</h6>
                <button style="border-radius: 3px;padding: 8px;margin: 5px; background-color:white;color:red;border-color:gray;border-style:solid;border-width: 2px   ">View Details</button>
            </div>

    </div>

    <div class="row" style="padding: 50px;">

            <div class="col-sm-4">
                <img src="../../static/media/7.jpg" style="width: 400px; height:200px;border-radius:15px ">
                <h4 style="padding-left: 10px;">HDFC Debit Card</h6>
                <p style="color: gray;padding-left: 10px;">Coupon code:HDFC5245</p>
                <h6 style="padding-left: 10px;color: gray">Validity:</h6>
                <h6 style="padding-left: 10px;">Sept 30,2019</h6>
                <button style="border-radius: 3px;padding: 8px;margin: 5px; background-color:white;color:red;border-color:gray;border-style:solid;border-width: 2px   ">View Details</button>
                
            </div>

            <div class="col-sm-4">

                <img src="../../static/media/8.jpg" style="width: 400px; height:200px;border-radius:15px ">
                <h4 style="padding-left: 10px;">Flat 10% Cashback</h6>
                <p style="color: gray;padding-left: 10px;">Coupon code:PSW145</p>
                <h6 style="padding-left: 10px;color: gray">Validity:</h6>
                <h6 style="padding-left: 10px;">Oct 30,2019</h6>
                <button style="border-radius: 3px;padding: 8px;margin: 5px; background-color:white;color:red;border-color:gray;border-style:solid;border-width: 2px   ">View Details</button>

            </div>

            <div class="col-sm-4">
                <img src="../../static/media/9.jpg" style="width: 400px; height:200px;border-radius:15px ">
                <h4 style="padding-left: 10px;">Upto to ₹800 Cashback</h6>
                <p style="color: gray;padding-left: 10px;">Coupon code:PSW145</p>
                <h6 style="padding-left: 10px;color: gray">Validity:</h6>
                <h6 style="padding-left: 10px;">Sept 30,2019</h6>
                <button style="border-radius: 3px;padding: 8px;margin: 5px; background-color:white;color:red;border-color:gray;border-style:solid;border-width: 2px   ">View Details</button>
            </div>

        </div>


    </div>

{% endblock %}