body, html {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
}

.nav {
    background-color: #6002ee;
    list-style: none;
    padding: 20px 80px;
}
.nav ul {
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline-block;
}
.nav a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 20px;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}